Repository UAL-RE/ReQUIAM, pull requests merged in 2020-11, with the labels that each got.

#90 hotfix/v0.13.4
  .github/workflows/create_release.yml
  README.md
  requiam/__init__.py
  setup.py
Labels: CI/CD

#94 hotfix/v0.13.5
  README.md
  requiam/__init__.py
  scripts/add_grouper_groups
  scripts/get_org_code_numbers
  scripts/script_run
  scripts/user_update
  setup.py
Labels: enhancement, scripts

#96 hotfix/v0.13.6
  README.md
  requiam/__init__.py
  scripts/add_grouper_groups
  scripts/get_org_code_numbers
  scripts/script_run
  scripts/user_update
  setup.py
Labels: bug, scripts

#101 Hotfix/v0.13.7
  .github/ISSUE_TEMPLATE/enhancement.md
  README.md
  requiam/__init__.py
  setup.py
Labels: enhancement, good first issue, reorganization

#102 feature/equality_checks
  .gitignore
  requiam/ldap_query.py
  scripts/add_grouper_groups
  scripts/archive/ldap_retrieve_petal
  scripts/get_org_code_numbers
  scripts/script_run
  scripts/user_update
Labels: enhancement, good first issue, pep8, scripts
