Repository UAL-RE/ReQUIAM, pull requests merged in 2020-12, with the labels that each got.

#107 feature/gh_actions_build_test
  .github/workflows/create-release.yml
  .github/workflows/python-package.yml
  README.md
Labels: CI/CD, enhancement

#111 feature/110_updates_for_issue_templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: enhancement

#109 feature/104_config_dict
  requiam/commons.py
  requiam/logger.py
  scripts/add_grouper_groups
  scripts/get_org_code_numbers
  scripts/script_run
  scripts/user_update
Labels: enhancement, reorganization, scripts

#112 feature/103_fewer_messages
  requiam/delta.py
  scripts/script_run
Labels: bug, enhancement, reorganization, scripts

#113 release/v0.15.0
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/workflows/create-release.yml
  .github/workflows/python-package.yml
  README.md
  requiam/__init__.py
  requiam/commons.py
  requiam/delta.py
  requiam/logger.py
  scripts/add_grouper_groups
  scripts/get_org_code_numbers
  scripts/script_run
  scripts/user_update
  setup.py
Labels: CI/CD, enhancement, scripts

#115 hotfix/v0.15.1
  README.md
  requiam/__init__.py
  requiam/delta.py
  setup.py
Labels: bug, p1
